<nav class=" bg-white  fixed w-full z-20 top-0  px-36 " [dir]="'dir' | translate">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4 ">
    <a href="https://flowbite.com/" class="flex items-center  rtl:space-x-reverse ">
      <img src="assets/ethihad-logo2.png" class="h-8" alt="Flowbite Logo">
    </a>
    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse ">
      <div *ngIf="isArabic; else notArabic">
        <a class="font-bold cursor-pointer" (click)="translate('en')">
          English
        </a>
      </div>


      <ng-template #notArabic>
        <a class="font-bold  cursor-pointer" (click)="translate('ar')">
          العربية
        </a>
      </ng-template>
      <button data-collapse-toggle="navbar-sticky" type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
        aria-controls="navbar-sticky" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15" />
        </svg>
      </button>
    </div>
    <div class="items-center justify-between hidden md:flex md:w-auto md:order-1" id="navbar-sticky">
      <ul
        class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white">
        <li>
          <a href="#" class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 "
            aria-current="page">{{ 'navbar.one' | translate}}</a>
        </li>
        <li>
          <a href="#"
            class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 ">{{
            'navbar.two' | translate}}</a>
        </li>
        <li>
          <a href="#"
            class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 ">{{
            'navbar.three' | translate}}</a>
        </li>
        <li>
          <a href="#"
            class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 ">{{
            'navbar.four' | translate}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<section class="content rounded-3xl flex justify-end items-center">
  <div class="right-0 max-w-lg  mr-16">
    <div [dir]="'dir' | translate">
      <h6 class="text-2xl font-semibold themeColor mb-1">{{ 'hero.subHeading' | translate}}</h6>
      <h1 class="text-6xl font-bold text-white mb-2">{{ 'hero.Heading1' | translate}}</h1>
      <h1 class="text-6xl font-bold text-white mb-3">{{ 'hero.Heading2' | translate}}</h1>
      <p class="text-white text-lg">{{ 'hero.paragraph' | translate}}</p>
    </div>
  </div>
</section>


<section class="mt-24 ">
  <div class="grid grid-cols-2 px-36 mt-14">
    <div class="col-span-1 max-w-md" [dir]="'dir' | translate">
      <h3 class="text-2xl themeColor font-bold mb-1">{{ 'aboutUs.aboutUs' | translate }}</h3>
      <h3 class="text-5xl text-gray-700 font-bold  mb-4">{{ 'aboutUs.heading' | translate }}</h3>

      <p class="text-xl">{{ 'aboutUs.paragraph' | translate }}</p>

    </div>
    <div class="col-span-1">
      <img src="../assets/section-1.png" class="rounded-2xl h-[456px] w-[451px] " alt="">
    </div>
  </div>
</section>

<section class="mt-24 px-12">
  <div class="h-72 w-full bg-gray-900 rounded-lg">
    <h1 class="text-white text-xl pt-16 text-center">We partner with 100+ top global firms to ensure top-tier service
    </h1>

    <div class="wrapper">
      <div class="slider">
        <div class="slide">
          <img src="../assets/fav-icon.png" />
          <img src="../assets/fav-icon.png" />
          <img src="../assets/fav-icon.png" />
          <img src="../assets/fav-icon.png" />
          <img src="../assets/fav-icon.png" />
          <img src="../assets/fav-icon.png" />
          <img src="../assets/fav-icon.png" />
          <img src="../assets/fav-icon.png" />
        </div>
        <div class="slide">
          <img src="../assets/fav-icon.png" />
          <img src="../assets/fav-icon.png" />
          <img src="../assets/fav-icon.png" />
          <img src="../assets/fav-icon.png" />
          <img src="../assets/fav-icon.png" />
          <img src="../assets/fav-icon.png" />
          <img src="../assets/fav-icon.png" />
          <img src="../assets/fav-icon.png" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mt-24 px-36 mb-[200px]">
  <h3 class="text-6xl font-bold">Services</h3>
  <div class="grid grid-cols-3 mt-8 gap-5">
    <div class=" border-black border-2 w-full h-[433px] rounded-lg p-[24px] flex flex-col justify-between">
      <img src="../assets/section-1.png" class="h-[174px] " alt="">
      <div>
        <h2 class="text-2xl font-bold">Temperature Controlled </h2>
        <p class="text-lg">Secure, licensed storage tailored to your needs—ambient, chilled, or frozen, ensuring optimal
          product preservation.</p>

      </div>
    </div>
    <div class=" border-black border-2 w-full h-[433px] rounded-lg p-[24px] flex flex-col justify-between">
      <div>
        <h2 class="text-2xl font-bold">Temperature Controlled </h2>
        <p class="text-lg">Secure, licensed storage tailored to your needs—ambient, chilled, or frozen, ensuring optimal
          product preservation.</p>

      </div>
      <img src="../assets/section-1.png" class="h-[174px] " alt="">

    </div>
    <div class=" border-black border-2 w-full h-[433px] rounded-lg p-[24px] flex flex-col justify-between">
      <img src="../assets/section-1.png" class="h-[174px] " alt="">
      <div>
        <h2 class="text-2xl font-bold">Temperature Controlled </h2>
        <p class="text-lg">Secure, licensed storage tailored to your needs—ambient, chilled, or frozen, ensuring optimal
          product preservation.</p>

      </div>
    </div>
  </div>
</section>